[project]
	description = C++ Thread Pool library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Loukissas (aloukissas)
[access "refs/for/refs/*"]
	read = group user/Alex Loukissas (aloukissas)
	push = group user/Alex Loukissas (aloukissas)
	label-Code-Review = -2..+2 group user/Alex Loukissas (aloukissas)
	label-Verified = -1..+1 group user/Alex Loukissas (aloukissas)
	rebase = group user/Alex Loukissas (aloukissas)
	removeReviewer = group user/Alex Loukissas (aloukissas)
	submit = group user/Alex Loukissas (aloukissas)
[access "refs/heads/*"]
	read = group user/Alex Loukissas (aloukissas)
	create = group user/Alex Loukissas (aloukissas)
	push = +force group user/Alex Loukissas (aloukissas)
	pushMerge = group user/Alex Loukissas (aloukissas)
[access "refs/tags/*"]
	push = +force group user/Alex Loukissas (aloukissas)
	pushTag = group user/Alex Loukissas (aloukissas)
	pushSignedTag = group user/Alex Loukissas (aloukissas)
